/* 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.15;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
  color: inherit;
  text-decoration: none;
}

/* 폰트 설정 */
body{
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
margin: 20px;
}

/* 새소식 */
.news{
  width: 380px;
  height: 200px;
  font-size: 14px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
}

.news-title{
  grid-area: 1 / 1 / 3 / 1;   
  height: 21px;
  font-weight: 700;
  color: #ED552F;
  position: relative;
}

.news-title::after{
  content: '';
  position: absolute;
  top: 30px;
  left: 0;
  width: 266px;
  height: 1px;
  background: linear-gradient(90deg, #A9A9A9 -1.32%, #FFFFFF 100%);
}

.more{
  grid-area: 1 / 6 / 1 / 7; 
  height: 21px;
  text-align: right;
}

.news-thumbnail{
  grid-area: 2 / 1 / 4 / 3; 
  text-align: center;
}

.news-thumbnail img{
  width: 112px;
  height: 66px;
  box-shadow: 0px 15px 15px 5px #AAAAAA;
}

.news-thumbnail figcaption{
  margin-top: 16px;
}

.news-info{
  grid-area: 2 / 3 / 3 / 7; 
  margin-left: 17px;
}

.news-info p{
  font-weight: 700;
}

.news-content{
  grid-area: 3 / 3 / 4 / 7; 
  text-align: justify;
  margin-left: 17px;
}